@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
.App{
    width: fit-content;
    align-items: center;  
    margin: auto; 
}

.author{    
    margin: 15px auto;    
    text-align: center;
    font-family: Share Tech Mono;
}